/* page-1 */

.title{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80px;
}

#title-style{
    font-weight: bold;
}
.a{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
}

.btn-w{
    width: 150px;
    height: 40px;
    background-color: #43A046;
    color: white;
}
.btn-w:hover{
    background-color: #43A046;
    color: white;
}


.containers{
    /* width: 100%;
    height: 600px; */
    background-color: #f4f7f4;;
    flex-wrap: wrap;
    
}

@media screen and (max-width: 1126px) {
    .containers{
        flex-direction: column;
        flex-wrap: wrap;
    }
  }

.conts{
    margin-top: 150px;
    margin-left: 200px;
    /* background-color: rgb(226, 197, 197); */
    position: absolute;
}

.left-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f4f7f4;;
}

.right-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f7f4;;
}

.img-right{
    margin-left: 70px;
    width: 500px;
    margin-top: 80px;
}

.head-font{
    font-size: 60px;
    color: #484848;
}
.head-fonts{
    font-size: 60px;
    color: #43A046;
}

.btn-reg{
    width: 100px;
    height: 40px;
    background-color: #43A046;
    color: white;
    margin-top: 10px;
}

/* page-2 */

.cont{
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
 } 

 .abt{
    margin-top: 30px;    
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
 }

 .dd{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
 }
 .ma{
    margin-left: 80px;
 }

 .btn-learn{
    width: 200;
    height: 36.49px;
    background-color: #4CAF4F;
    color: white;
    margin-top: 10px;
    border-radius: 2.78px;
    gap: 6.96px;
 }

 .btn-learn:hover{
    background-color: #4CAF4F;
    color: white;
 }

 .align-right{
    margin-right: 150px;
    margin-top: 20px;
    width: 460.1px;
    height: 187.9px;
 }



@media (max-width: 768px) and (max-width: 991.98px) { 
    .container-size{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
 }


 /* page-4 */

 .bg-clrr{
    background-color: #F5F7FA;
    height: 202.94px;
    width: 100%;
 }

 .left{
    width: 375.88px;
    height: 84.57px;
    background-color: #F5F7FA;
    margin-left: 200px;
   
 }

 .alignn{
 
    margin-left: 200px;
    margin-top: 200px;
 }

 .graph{
    width: 375.88px;
    height: 113.84px;
    background-color: #F5F7FA;

 }

 .right-box{
    width: 50%;
    background-color: #F5F7FA;
    height: 202.94px;
 }
 .left-box{
    width: 50%;
    background-color: #F5F7FA;
    height: 202.94px;
 }

 .titles{
    font-weight: 600;
    font-size: 25.06px;
    line-height: 30.63px;
 }

 .h-clr{
    color: #4CAF4F;
 }

 .hclr{
    color: #4D4D4D;
 }

 .para{
    font-size: 11.14px;
    line-height: 16.71px;
    font-weight: 400;
 }

 .num{
    font-size: 19.49px;
    font-weight: 700;
    line-height: 25.06px;
    color: #4D4D4D;
 }
 .nump{
    font-size: 11.14px;
    font-weight: 400;
    line-height: 16.71px;
    color: #717171;
 }
 .table{
    --bs-table-bg-state: #F5F7FA;
 }

 /* page-5 */

 .card-tit{
    font-size: 25.06px;
    font-weight: 600;
    color:#4D4D4D ;
    line-height:30.63px ;
 }

 .card-titp{
    font-size:9.74px ;
    font-weight:400 ;
    color:#717171 ;
    line-height:13.92px ;
 }

 .align-rightss{
    margin-right: 150px;
    margin-top: 50px;
    width: 460.1px;
    height: 187.9px;
 }

 /* page-6 */

 .bg-clrrs{
    background-color: #F5F7FA;
    height: 340px;
    width: 100%;
 }

 .lefts{
    width: 375.88px;
    height: 84.57px;
    background-color: #F5F7FA;
    margin-left: 200px;
   
 }

 .graphss{
    width: 520.66px;
    height: 117px;
    background-color: #F5F7FA;

 }

 .para6{
    font-size: 11.14px;
    font-weight:500 ;
    line-height:16.71px ;
    color:#717171 ;
 }

 a{
    text-decoration: none;
    color: #4CAF4F    ;
 }

 .tim-head{
    font-size: 13.92px;
    font-weight:600 ;
    line-height:19.49px ;
    color:  #4CAF4F;
 }

 .tim-headp{
    font-size: 11.14px;
    font-weight:400 ;
    line-height: 16.71px;
    color: #89939E;
 }

 /* page-7 */

 .abts{
    margin-top: 30px;    
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
 }

 .wh{
    width: 628px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
    line-height: 24px;
 }

 .hcaring{
    font-weight: 600;
    font-size: 36px;
    color: #4D4D4D;
    line-height: 44px;
 }

 .up{
    width: 317px;
    height: 176px;
    border-radius: 8px;
    background-color: #F5F7FA;
    /* z-index: 1; */
    position: absolute;
    margin-top: -95px;
    margin-left: 25px;
    box-shadow: 1px 2px 5px #b6b6b6;
  
 }

 .rowalign{
   margin-left: 0px;
 }

 /* page-8 */

 .containerp{
   /* margin-top: 200px; */
   font-size: 64px;
   font-weight: 600;
 }

 .cardss{
   font-weight: 600;
   font-size: 20px;
   line-height: 28px;
   color: #717171;
   width:285px ;
   height:84px ;
   text-align: center;
 }

 .acla{
   color: #4CAF4F;
   font-weight: 600;
   font-size: 20px;
   line-height: 28px;
 }

 .abtsss{
   margin-top: 220px;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   align-content: center;
   background-color: #F5F7FA;
   height: 300px;
}

.btn-get{
   color: white;
   background-color:#4CAF4F ;
   width:178px ;
   height: 52px;
}

/* footer  */

.footer{
   display: flex;
   width: 100%;
   height: 300px;
   background-color: #263238;
}

.left-footer{
   background-color: #263238;
   height: 300px;
   width: 30%;
   color: white;
}

.detail-footer{
   display: flex;
    width: 350px;
    height: 189.67px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: flex-start;
    margin-left: 80px;
    margin-top: 50px;
}


.right-footer{
   background-color: #263238;
   height: 300px;
   width: 70%;
   color: white;
   display: grid;
   grid-template-columns: auto auto auto;
   justify-items: center;
   justify-content: space-around;
   align-content: center;
   align-items: start;
}
.social{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   width: 176px;
   height: 32px;
   gap: 16px;
}

.foot-head{
   font-weight: bold;
}
.para-foot{
   color:#F5F7FA;
}

.form-control{
   background-color: #5b5b5b;
   border: none;
}

.form-control::placeholder{
   color: white;
}

.svgs{
   position: absolute;
   margin-left: 180px;
   margin-top: -25px;
}