/* page-1 */

.title{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80px;
}

#title-style{
    font-weight: bold;
}
.a{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;
}

.btn-w{
    width: 150px;
    height: 40px;
    background-color: #43A046;
    color: white;
}

.containers{
    /* width: 100%;
    height: 600px; */
    background-color: #f4f7f4;;
    flex-wrap: wrap;
    
}

@media screen and (max-width: 1126px) {
    .containers{
        flex-direction: column;
        flex-wrap: wrap;
    }
  }

.conts{
    margin-top: 150px;
    margin-left: 200px;
    /* background-color: rgb(226, 197, 197); */
    position: absolute;
}

.left-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f4f7f4;;
}

.right-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f7f4;;
}

.img-right{
    margin-left: 70px;
    width: 500px;
    margin-top: 80px;
}

.head-font{
    font-size: 60px;
    color: #484848;
}
.head-fonts{
    font-size: 60px;
    color: #43A046;
}

.btn-reg{
    width: 100px;
    height: 40px;
    background-color: #43A046;
    color: white;
    margin-top: 10px;
}

/* page-2 */

.cont{
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
 } 

 .abt{
    margin-top: 30px;    
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
 }

 .dd{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
 }
 .ma{
    margin-left: 80px;
 }

 .btn-learn{
    width: 130px;
    height: 40px;
    background-color: #43A046;
    color: white;
    margin-top: 10px;
 }

 .btn-learn:hover{
    background-color: #43A046;
    color: white;
 }

 .align-right{
    margin-right: 150px;
    margin-top: 20px;
    width: 460.1px;
    height: 187.9px;
 }



@media (max-width: 768px) and (max-width: 991.98px) { 
    .container-size{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
 }